@import "compass/css3"

// Common pages layout

body#page
  background: white

// Home page

#home
  background: url(/images/logo_ribbon.png) no-repeat 20px 0

  // Columns
  .promo-columns
    overflow: hidden
    padding-right: 400px

    .first-column
      float: left
      .column-wrapper
        padding-left: 140px

    .second-column
      width: 400px
      margin-right: -400px
      float: right

    .column-wrapper
      padding: 10px 20px

  // Description
  h2
    margin: 10px 40px 0 0
    font-size: 42px
    line-height: 52px
    color: #6A2D3E
    font-style: italic
    font-family: Georgia, serif
    .love
      color: #A32B4A

  // Screenshot
  .screenshot
    margin-top: 30px

  .user-block
    height: 134px
    .user-block-wrapper
      @include border-radius(8px)
      background: #F8F8F8
      padding: 20px
      .avatar
        img
          width: 40px

  // Fast links
  ul.fast-links
    a
      color: black
      &:hover
        color: #BF1860
        &, span
          text-decoration: none

    .source-code, .archive
      a
        text-decoration: none
        display: inline-block
        font-size: 24px
      span
        text-decoration: underline

    .source-code, .archive, .or
      text-align: center

    .source-code
      margin-top: 15px
      span
        float: left
        width: 150px
        text-align: right
        display: inline-block
        margin-top: 15px
        line-height: 27px
      img
        margin-left: 10px

    .or
      margin-top: 20px
      font-size: 22px
      color: #848484

    .archive
      margin-top: 10px
      img
        vertical-align: middle
      span
        margin-left: 10px

    .menu
      margin-bottom: 13px
      margin-left: 102px

      &.install
        margin-top: 50px
        margin-bottom: 18px
        a
          font-size: 25px

      a
        color: #4B4246
        font-size: 20px
        &:hover
          color: #BF1860
