body
  font-family: Helvetica Neue, Helvetica, Arial
  background: white

a.made-with-love
  text-decoration: none
  width: 157px
  display: inline-block
  &:hover
    .love-panic
      color: #F7285F
  .love-panic
    text-decoration: underline
    text-transform: uppercase
    font-weight: 700
    color: #FF99C2
    letter-spacing: -1px
    font-size: 12px
  .since
    color: #818181
    font-size: 10px
    font-weight: 100
    letter-spacing: 1px
    vertical-align: super
    margin-left: 8px
