@import "compass/reset"
@import "compass/css3"

@import "compass/layout/sticky-footer"

body
  font-family: Helvetica, Arial
  background: #221F1D

body#ui
  background: white

// Header

#header
  background: white
  margin-top: 15px
  display: inline-block
  height: 100px
  width: 100%
  background: #FAFBEE

#logo
  display: inline-block
  position: absolute
  margin: -15px 0 0 30px
  background: url(/images/logo_ribbon.png) no-repeat
  height: 147px
  padding: 25px 0 0 105px
  font-size: 38px
  letter-spacing: 2px
  a
    text-decoration: none
    color: #6A142E
    &.ribbon
      position: absolute
      top: 0
      left: 0
      width: 88px
      height: 172px
      display: block

body#ui #logo
  background-position: 0px -85px
  font-size: 25px
  height: 65px

body#ui #logo a.ribbon
  height: 85px

// Navigation

#navigation
  a
    @include text-shadow(white, -1px, 1px, 0)
    color: #262626
  li
    float: left
    margin-right: 25px
    &.drop-down
      //position: relative
      ul
        @include border-right-radius(4px)
        @include border-bottom-left-radius(4px)
        position: absolute
        display: none
        overflow: hidden
        background: #C1C1C1
        li
          display: block
          margin: 0
          padding: 0
          clear: both
          float: none
          border-top: 1px solid #E8E8E8
          a
            @include border-radius(0)
            @include text-shadow(none)
            background: none
            display: block
            margin: 0
            font-size: 14px
            &:hover
              background: #FBFCE0
            &.add-project
              @include text-shadow(white, -1px, 1px, 0)
              background: #DAFB9F
              text-align: center
              color: #3D511A
          &:first-child
            border-top: none
            a
              @include border-top-right-radius(4px)
          &:last-child
            border-top: none
            a
              @include border-bottom-radius(4px)
      a
        @include border-radius(4px)
        text-decoration: none
        display: inline-block
        margin-top: -9px
        background: #E1E1E1
        padding: 6px 18px
        font-size: 18px
        img
          margin-left: 2px
          vertical-align: middle

  .menu-popup
    @include border-radius(4px)
    background: blue

body#page #navigation
  margin: 35px 0 0 350px

body#ui #navigation
  position: absolute
  margin: 27px 0 0 150px

// Footer

@include sticky-footer(38px, "body#page #root", "body#page #root-footer", "body#page #footer")

#footer
  background: #EDEDED

a.made-with-love
  text-decoration: none
  width: 157px
  display: inline-block
  float: right
  margin: 10px 20px
  &:hover
    .love-panic
      color: #F7285F
  .love-panic
    text-decoration: underline
    text-transform: uppercase
    font-weight: 700
    color: #921B4A
    letter-spacing: -1px
    font-size: 12px
  .since
    color: #101010
    font-size: 10px
    font-weight: 100
    vertical-align: super
    margin-left: 5px

// Content

#content
  @include border-radius(5px)
  padding: 10px
  background: white
  margin: 30px 20px

.content-wrappe
  padding: 10px 15px

// Tickets

ul.tickets-list
  margin: 0 0 30px 0

h3.tickets-header
  margin: 0 0 10px 0
  font-size: 24px

li.ticket-form
  textarea
    width: 100%
    height: 30px

li.ticket

  @include border-radius(4px)
  border-bottom: 1px solid #F4F1F1
  padding: 5px 8px

  &:last-child
    border-color: transparent

  &:hover, &.ui-selected
    .buttons
      display: inline-block

  &.ui-selected
    background: #4E111D
    color: white
    .description
      color: white


  //

  .number-container
    display: inline-block
    //    width: 30px
    text-align: right

  .number
    @include border-radius(3px)
    @include text-shadow(-1px, 1px, 0, black)
    padding: 3px
    font-size: 11px
    background: #737373
    vertical-align: middle
    a
      color: white
      text-decoration: none

  .description
    padding-left: 4px
    font-size: 14px
    color: #454545

  .buttons
    display: none
    float: right

  .edit-ticket
    @include border-radius(3px)
    @include text-shadow(-1px, 1px, 0, white)
    font-size: 11px
    text-decoration: none
    vertical-align: middle
    height: 18px
    color: #4A4A4A
    background: #C4E7F2
    padding: 3px 6px

  .delete-ticket
    height: 13px
    display: inline-block
    vertical-align: top

#ui-sorting-helper
  position: absolute
  display: none

.ui-selectable-helper
  @include opacity(0.6)
  border: 1px solid #DCD9CC
  background: #FEFFF7
  position: absolute

.ui-selecting
  background: #8ECAEA
  color: white

.columns
  overflow: hidden
  padding-right: 500px
  .column
    float: left
  .main-column
    width: 100%
    .column-wrapper
      padding: 25px 20px 15px
  .meta-column
    width: 500px

ul.tickets-actions
  overflow: hidden
  margin: 0 0 40px 0
  li
    float: right

.meta-column
  background: #F9F9F9
  height: 100%
  position: fixed
  top: 0
  right: 0

  .column-wrapper
    padding: 10px 20px
    overflow: auto
    margin: 20px 0
    width: 450px
    height: 200px

// Promo

#promo
  padding: 20px 580px 20px 50px
  overflow: hidden
  .question-block
  h2.question
    font-size: 40px
    font-family: Georgia, serif
    font-style: italic
    color: #585858
  p.answer
    font-size: 25px
    color: #969696
    margin: 10px 0 0 0
    padding-left: 60px
    text-indent: -33px
    line-height: 29px
    margin-bottom: 20px
  .video
    float: right
    margin-right: -530px

// Button

.button
  @include border-radius(4px)
  @include text-shadow(-1px, 1px, 0, #E3E3E3)
  padding: 5px 10px
  background: red
  font-size: 13px
  text-decoration: none
  background: #BABABA
  color: #171717
  display: inline-block

  &.green
    background: #B6E15B
    color: #546C04
    &:hover
      background: #D3E77F

  .shortcut
    color: #5E5E5E

// Comments
#new_comment
  textarea
    width: 250px

//

.jspContainer
  overflow: hidden
  position: relative

.jspPane
  position: absolute

.jspDrag, .jspTrack
  @include border-radius(5px)

.jspVerticalBar
  position: absolute
  top: 0
  right: 0
  width: 10px
  height: 100%

.jspHorizontalBar
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 16px
  background: red

.jspVerticalBar *, .jspHorizontalBar *
  margin: 0
  padding: 0

.jspCap
  display: none

.jspHorizontalBar .jspCap
  float: left

.jspTrack
  background: #EDEDED
  position: relative

.jspDrag
  background: #BEBEBE
  position: relative
  top: 0
  left: 0
  cursor: pointer

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag
  float: left
  height: 100%

.jspArrow
  background: #50506d
  text-indent: -20000px
  display: block
  cursor: pointer

.jspArrow.jspDisabled
  cursor: default
  background: #80808d

.jspVerticalBar .jspArrow
  height: 16px

.jspHorizontalBar .jspArrow
  width: 16px
  float: left
  height: 100%

.jspVerticalBar .jspArrow:focus
  outline: none

.jspCorner
  background: #eeeef4
  float: left
  height: 100%

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
  margin: 0 -3px 0 0

