@import 'compass/reset'

@import 'compass/layout/sticky-footer'

body
  font-family: Helvetica Neue, Helvetica, Arial
  background: #221F1D

// Header

#header
  background: white
  margin-top: 15px
  display: inline-block
  width: 100%

#logo
  display: inline-block
  margin: -15px 0 0 30px
  background: url(/images/logo_ribbon.png) no-repeat
  height: 190px
  padding: 25px 0 0 105px
  font-size: 38px
  font-weight: 100
  letter-spacing: 2px
  a
    text-decoration: none
    color: #6A142E

body#page #header
  height: 100px

body#ui #header
  height: 49px

body#ui #logo
  background-position: 0px -85px
  font-size: 25px

// Footer

@include sticky-footer(36px, "#root", "#root-footer", "#footer")

#footer
  background: #EDEDED

a.made-with-love
  text-decoration: none
  width: 157px
  display: inline-block
  float: right
  margin: 10px 20px
  &:hover
    .love-panic
      color: #F7285F
  .love-panic
    text-decoration: underline
    text-transform: uppercase
    font-weight: 700
    color: #921B4A
    letter-spacing: -1px
    font-size: 12px
  .since
    color: #101010
    font-size: 10px
    font-weight: 100
    letter-spacing: 1px
    vertical-align: super
    margin-left: 8px
