:javascript
  var projectId = #{@project.id};

%ul.tickets-actions
  %li= link_to 'Add an new ticket'.html_safe, new_project_ticket_path, :remote => true, :class => 'button green add-ticket'

.tickets-inbox

%h3.tickets-header Dummy

%ul.tickets-list
  - @tickets.each do |ticket|
    = render ticket

%ul#ui-sorting-helper.tickets-list
