= link_to "Add an new ticket (⌘+⌥+N)", new_project_ticket_path

%ul.tickets-list
  - @tickets.each do |ticket|
    %li.ticket
      %span.drag-mate= link_to image_tag('drag.gif'), '#'
      %span.number ##{ticket.number}
      %span.description= ticket.description

%ul#ui-sorting-helper.tickets-list
