#promo
  .video
    :erb
      <object width="500" height="300"><param name="movie" value="http://www.youtube.com/v/ETgk56xT4Mk?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/ETgk56xT4Mk?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="300"></embed></object>

  .question-block
    %h2.question What is Sparta?
    %p.answer — Sparta is awesome and open source ticket tracker.

  .question-block
    %h2.question Why Sparta?
    %p.answer — Sparta is easy to use just like a desktop application.
