#promo
  .promo-columns
    .first-column.title
      .column-wrapper Short description
    .second-column.fast-links
      .column-wrapper
        = link_to 'Source code on GitHub', 'http://github.com/lovepanic/sparta'
