#project-users
  %ul
    = render :partial => 'user', :collection => @users

  Add user:
  - semantic_form_for [@project, @user], :url => project_project_users_path, :html => { :class => 'add-user-form' }, :remote => true do |f|
    = f.inputs :email
    = f.submit 'Add User'
