- @users.each do |user|
  %li
    = user.email 
    = link_to 'X', project_project_user_path(@project, user), :confirm => 'Are you sure?', :method => :delete

Add user:
- semantic_form_for @project do |f|
  = f.inputs :user
  = f.submit 'Add User'
  
  