- content_for :content do
  .columns
    .column.main-column
      #logo= link_to '', root_path, :class => 'ribbon'
      = render 'layouts/navigation'

      .column-wrapper
        = yield
    .column.meta-column
      .column-wrapper.scroll-pane

= render 'layouts/base'
