- content_for :content do
  .columns
    .column.main-column
      #logo
        = link_to '', root_path, :class => 'ribbon'
      .column-wrapper
        = yield
    .column.meta-column
      .column-wrapper.scroll-pane
        Meta panel
        Meta panel
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br
        Meta panel
        %br

= render 'layouts/base'
